.add_controller {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(4);
    margin: 0 rem(4);
    border: 1.5px solid $color-gray;
    border-radius: rem(4);
  }
  