.logo {
    transition: transform 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
    }
}

.center {
    margin: auto 20vw;
}

.icon {
    margin: 0.3rem;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    &:hover {
        animation: rotateAndScale 1s linear infinite /* 회전 애니메이션 */
    }
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0deg) scale(1); /* 시작과 끝에서 원래 크기와 회전각 */
    }
    50% {
        transform: rotate(180deg) scale(1.2); /* 180도에서 크기가 1.2배 */
    }
    100% {
        transform: rotate(360deg) scale(1)
    }
}
