// ant design float button
.ant-float-btn {
  width: rem(50) !important;
  height: rem(50) !important;
  .ant-float-btn-body {
    width: rem(50) !important;
    height: rem(50) !important;
  }
}



// sweet alert
.swal-confirm-button {
  margin: auto 10px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid $color-brown;
  font-weight: 500;
  min-width: rem(70);
  background-color: $color-dark-yellow;
  /* 배경색 */
  color: $color-brown;
  /* 텍스트 색상 */
}

.swal-cancel-button {
  margin: auto 10px;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid $color-brown;
  font-weight: 500;
  min-width: rem(70);
  background-color: $color-white-yellow;
  /* 배경색 */
  color: $color-brown;
  /* 텍스트 색상 */
}

/* 팝업 테두리 스타일링 */
.swal2-popup {
  border: 15px solid $color-dark-yellow;
  border-radius: 40px;
}

.swal2-warnpop {
  border: 15px solid $color-red;
  border-radius: 40px;
}

/* 타이틀 테두리 스타일링 */
.swal2-title {
  // border-bottom: 2px solid #4a90e2;
  // background-color: $color-dark-yellow;
  padding-bottom: 10px;
  /* 패딩 추가 */
  color: $color-light-black;
  // padding-top: 0;
  font-size: rem(32);
}

.swal2-text {
  border-radius: 40px;
  background-color: $color-light-yellow;
}

// antd switch
.ant-switch-checked {
  background-color: #61de56 !important;
}

// antd card
.ant-card-body {
  padding: 0 10px 10px !important;
}

.ant-card-head {
  border-bottom: none !important;
  min-height: 36px !important;
  padding: 0 16px !important;
}

.ant-tag,
.ant-tag-borderless {
  background-color: white !important;
}

// .ant-avatar-circle {
//   background-color: white !important;
//   img {
//     padding: 5px !important;
//   }
// }

// .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
//   color: red!important; /* 이 부분을 원하는 색상 코드로 변경 */
// }

.ant-table-column-title {
  text-wrap: nowrap;
}

// Tabs 컴포넌트 전체에 적용되는 스타일
.tabs-custom {
  .ant-tabs-nav {
    margin: 0 !important;
  }

  // 모든 탭의 기본 글자 색상을 빨간색으로 설정
  .ant-tabs-tab-btn {
    color: $color-orange;
    font-size: rem(23);
    font-weight: bold; // 활성 탭의 글자를 굵게
  }

  // 활성 탭에 대한 추가 스타일
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    font-weight: bold; // 활성 탭의 글자를 굵게
    font-size: rem(30); // 활성 탭의 글자 크기
    color: $color-orange !important; // 활성 탭의 글자 색상 (필요한 경우 여기서 조정)
  }

  .ant-tabs-nav-wrap {
    width: 100% !important;
  }

  .ant-tabs-nav-list {
    width: 100% !important;
  }

  /* 탭 너비 설정 */
  .ant-tabs-tab {
    flex: 1 1 0% !important; /* 각 탭이 동일한 너비를 가지도록 설정 */
    height: rem(55) !important; /* 탭 높이 설정 */
    padding: 0 !important;
  }

  .ant-tabs-tab-btn {
    margin: auto !important; /* 탭 내용을 수평 중앙 정렬 */
  }

  .ant-tabs-nav-operations {
    display: none !important; /* 탭 우측의 추가 버튼 숨김 */
  }

  /* 활성 탭 표시기의 색상 변경 */
  .ant-tabs-ink-bar {
    background-color: $color-orange !important; /* 여기서 색상을 원하는 색상으로 설정하세요 */
    height: rem(4) !important; /* 높이 설정 */
  }
}

.recordmodal {
  .ant-dropdown-menu-root {
    background-color: white !important;
    border: 1px solid gray !important;
  }

  .ant-dropdown-menu-item {
    cursor: default;
    padding: 0px !important;
    & :hover {
      background-color: white;
    }
    background-color: white;
  }
}
