.recorder {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0rem;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  min-width: 200px; /* rem 함수를 제거하고 직접 값 적용 */
  min-height: 60px; /* rem 함수를 제거하고 직접 값 적용 */
  padding: 0 20px; /* rem 함수를 제거하고 직접 값 적용 */
  margin: auto;
  background-color: $color-text2; /* SCSS 변수가 올바르게 설정되어 있는지 확인 */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container { /* 이 클래스는 .recorder의 부모에 추가 */
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  background-color: rgba(0, 0, 0, 0.1);
  // margin-bottom: rem(10);
}

.record__item {
  cursor: default;
  display: grid;
  margin-top: 10px;
  border-bottom: 2px solid $color-gray;
  .record__button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: rem(4) 0;
  }
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(20);
  font-weight: bold;
  color: $color-white;
}

.buttonIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 0 !important;
}
.dropdownMenu {
  max-height: 500px;
  overflow-y: auto;
  padding: 0px;
  cursor: default !important;
}
.record__timestamp {
  font-weight: bold;
  margin-right: auto;
  padding-left: 10px;
}
.uploadButton {
  width: 30px;
  margin-left: auto; // 왼쪽으로 여백을 최대로 하여 오른쪽에 붙임
}


