.article {
    background-color: $color-yellow;
    padding: rem(20) rem(8) rem(20);
    border-bottom-left-radius: rem(16);
    border-bottom-right-radius: rem(16);
}

.title {
    text-align: center;
    color: $color-text1;
    padding-bottom: rem(16); 
}

.table {
    background-color: $color-white-yellow;
    border-radius: rem(12);
    padding: rem(8) rem(8) rem(4);
}